includeConfig 'conf/base.config'
conda.enabled = true

params {
	function = 'general_annotation'
	path = "$baseDir/data/test.bed"
	flanking_len = 2
	ref_file = "$baseDir/data/hg38.fa.gz"
	species = 'human'
	genome_version = 'hg38'
	TSS_species = null
	vep_species = null
	CpG_species = null
	vep_cache_species = null
	fasta_start = null
	dataProvider = "EnsDb"
	version = 105
	split_len = 10000
	enformer_prefix = 'temp'
	phastCons100wayUrl = "http://hgdownload.cse.ucsc.edu/goldenpath/hg38/phastCons100way/hg38.phastCons100way.bw"
	phastCons30wayUrl = "http://hgdownload.cse.ucsc.edu/goldenpath/hg38/phastCons30way/hg38.phastCons30way.bw"
	phyloP100wayUrl = "http://hgdownload.cse.ucsc.edu/goldenpath/hg38/phyloP100way/hg38.phyloP100way.bw"
	phyloP30wayUrl = "http://hgdownload.cse.ucsc.edu/goldenpath/hg38/phyloP30way/hg38.phyloP30way.bw"
	cattle_conservation_scores = "https://zenodo.org/records/13332541/files/cattle_conservation_scores.zip?download=1"
	vep_cache = null

}

manifest {
  name            = 'evotools/nf-VarAnno'
  homePage        = 'https://github.com/evotools/nf-VarAnno'
  description     = 'Nextflow variant annotation pipeline'
  mainScript      = 'main.nf'
  nextflowVersion = '>=21.10.0'
  defaultBranch   = 'master'
}

process {
    conda = "$baseDir/environment_main.yml"
	withName: getVariantScore {
		conda = "$baseDir/environment_enformer.yml"
	}
}

profiles {
	standard {
		process.executor = 'local'
		executor.queueSize = Runtime.runtime.availableProcessors() == 1 ? 1 : Runtime.runtime.availableProcessors() - 1
		executor.submitRateLimit = '4sec'
	}
	local {
		process.executor = 'local'
		executor.queueSize = Runtime.runtime.availableProcessors() == 1 ? 1 : Runtime.runtime.availableProcessors() - 1
		executor.submitRateLimit = '4sec'
	}
	eddie {
		includeConfig 'conf/eddie_conda.config'
	}
}