process {   

  cpus = { 1 * task.attempt}
  memory = { 6.GB * task.attempt}
  time = { 4.h * task.attempt}

  withLabel: medium{
    cpus = { 1 * task.attempt}
    memory = { 7.GB * task.attempt}
    time = { 12.h * task.attempt}
  }
  withLabel: large{
    cpus = { check_max( 1, 'cpus' ) }
    memory = { check_max( 12.GB * task.attempt, 'memory' ) }
    time = { check_max( 23.h * task.attempt, 'time' ) }
  }
}