/*
 * ------------------------------------------------------
 *  Based on the nf-core/rnaseq Nextflow base config file
 * ------------------------------------------------------
 */

params {
  config_profile_description = 'University of Edinburgh (eddie) cluster profile using anaconda tweaked by nf-core/configs.'
  config_profile_url = 'https://www.ed.ac.uk/information-services/research-support/research-computing/ecdf/high-performance-computing'
  
  // Add parameter to specify extra flags for eddie
  extra_cluster_options = ""  
  scratch = true 
  queue_size = 100
}

executor {
  name = "sge"
  queueSize = params.queue_size
}

process {
  clusterOptions = { task.memory ? "-l h_vmem=${task.memory.bytes/task.cpus}" : null }
  scratch = params.scratch
  penv = { task.cpus > 1 ? "sharedmem" : null }
  
  conda {
    cacheDir = "$projectDir/conda_cache"  // Ensure this is a simple key-value pair
  }

  errorStrategy = { task.exitStatus in [143,137,104,134,139,140] ? 'retry' : 'finish' }
  maxRetries = 3
  maxErrors = '-1'

  // Resource limits
  maxMemory = 384.GB
  maxCpus = 32
  maxTime = 240.h
}

env {
  MALLOC_ARENA_MAX = 1
}