excutor{
	
	name = "sge"
	queueSize = Runtime.runtime.availableProcessors() == 1 ? 1 : Runtime.runtime.availableProcessors() - 1
}

process {
	
	clusterOptions = { task.memory ? "-l h_vmem=${task.memory.bytes/task.cpus}" : null }
	penv = { task.cpus > 1 ? "sharedmem" : null }

	errorStrategy = { task.exitStatus in [143,137,104,134,139,140] ? 'retry' : 'finish' }
	maxRetries = 3
	maxErrors = '-1'

	params {
		max_memory = 384.GB
		max_cpus = 32
		max_time = 240.h
	}
}
env {
	MALLOC_ARENA_MAX = 1
}


